<%- contentFor( 'body') %>

<div class="jumbotron" style="background-color: lightcyan;">
    <h2>Usuários recentemente cadastrados</h2>
    <p>Lista dos novos usuários cadastrados no sistema.</p>
    <div class="add-form" class="hidden">
        <label for="userName" class="hidden">Nome</label>
        <input type="text" id="userName" placeholder="Nome sobrenome" class="hidden">
        <label for="userEmail" class="hidden">Email</label>
        <input type="email" id="userEmail" placeholder="Email@dominio.com" class="hidden">
        <label for="userAddress" class="hidden">Endereço</label>
        <input type="text" id="userAddress" placeholder="Rua, numero" class="hidden">
        <label for="userAge" class="hidden">Idade</label>
        <input type="number" id="userAge" min="1" placeholder="Idade" class="hidden">
        <label for="userHeight" class="hidden">Altura (metros)</label>
        <input type="number" id="userHeight" placeholder="Altura" class="hidden" min="1" step="0.01">
        <label for="userVote" class="hidden">Vota?</label>
        <input type="checkbox" id="userVote" placeholder="Vota" class="hidden">
    </div>
    <div class="add-form-buttons" class="hidden">
        <a href="#" onclick="addUser()" class="hidden" id="add-form-submit">Adicionar</a>
        <a href="#" onclick="hideAddUserForm()" class="hidden" id="add-form-cancel">Cancelar</a>
    </div>
    <a href="#" onclick="showAddUserForm()" id="add-form-call">Adicionar usuário</a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Endereço</th>
            <th>Idade</th>
            <th>Altura</th>
            <th>Vota?</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody>
              

            <% let linkRemove="/cadastro/remove/"; %>
            <% let linkUpdate="/cadastro/update/"; %>

            <% for(let index=0;index < users.length;index++){ %>
                <tr>
                    
                <td data-index-row="<%=index%>">
                    <span  class="show"><%= users[index].name %></span>
                    <input type="text" name="name"  class="hidden" value="<%= users[index].name %>">
                </td>
                <td data-index-row="<%=index%>">
                    <span  class="show"><%= users[index].email %></span>
                    <input type="text" name="email"  class="hidden" value="<%= users[index].email %>">
                </td>
                <td data-index-row="<%=index%>">
                    <span  class="show"><%= users[index].address %></span>
                    <input type="text" name="address"  class="hidden" value="<%= users[index].address %>">
                </td>
                <td data-index-row="<%=index%>">
                    <span  class="show"><%= users[index].age %></span>
                    <input type="text" name="age"  class="hidden" value="<%= users[index].age %>">
                    
                </td>
                <td data-index-row="<%=index%>">
                    <span  class="show"><%= users[index].height %></span>
                    <input type="text" name="height"  class="hidden" value="<%= users[index].height %>">
                    
                </td>
                <td data-index-row="<%=index%>">
                    <span  class="show"><%= users[index].vote %></span>
                    <input type="text" name="vote" class="hidden" value="<%= users[index].vote %>">
                    
                </td>
                <td data-index-row="<%=index%>" class="hidden" data-index-row="<%=index%>"><input type="button" value="Atualizar" class="hidden" ></td>


               
                <td  data-index-row="<%= index %>">
                    <a href="#" onclick="update('<%=index%>','<%= linkUpdate %>')" class="show"><i class="fas fa-pen"></i></a>  
                </td> 
                
                <td  data-index-row="<%= index %>">
                    <a href="#" class="show" onclick="remove('<%=index %>','<%=linkRemove%>')"><i class="fas fa-trash-alt"></i></a>
                </td>

                </tr>
            <% } %>

        </tbody>
    </table>

    <div class="list-header">
        <h2>Todos os usuários</h2>
        <a href="#" onclick="list()" id="list-call">Mostrar</a>
    </div>
    <table class="table table-hover hidden" id="list">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Endereço</th>
            <th>Altura</th>
            <th>Idade</th>
            <th>Vota?</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>